* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
    font-size: 100%;
    box-sizing: inherit;
}
html, body {
    line-height: 1;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background: #aaa;
    color: black;
}
body {
    min-height: 100vh;
}

#lipsum {
    display: block;
    width: 50%;

    position: absolute;
    top: 300px;
    left: 25%;

    background: white;
    color: black;

    font-size: 12pt;

    padding: 20px;
    box-shadow: 10px 10px 0 black;
}

#controls {
    height: 200px;
    width: 100%;
    background: #ccc;

    position: absolute;
    top: 0;
    left: 0;

    padding: 1em;
}

#controls p {
    margin: 0.5em;
}

#controls p b {
    font-weight: normal;
    display: inline-block;
    width: 6em;
}

#controls p input {
    width: 200px;
    height: 26px;
    font-size: 12pt;
    padding: 5px 2px;
    background: white;
    color: black;
    vertical-align: middle;
}

.combobutton {
    width: 26px;
    height: 26px;
    background: white;
    color: black;
    vertical-align: middle;
    text-align: center;
}

#controls p #fontsize-spinner input { width: 4em; }


body.loading {
    background: #aaa url("loading.gif") no-repeat center center;
}
.loading #controls, .loading #lipsum { display: none; }